@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2e2e2e;
  color: #fefefe;
  font-family: "Lato", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Bebas Neue", cursive;
  }
  .db-btn {
    text-transform: uppercase;
  }
  .db-btn-yellow {
    background-color: #e3d43d;
    border-color: #e3d43d;
    color: #2e2e2e;
  }

  .img-responsive {
    margin: 0 auto;
  }
  #header-nav {
    #logo {
      max-width: 220px;
    }
  }
  #root {
    color: #2e2e2e;
    width: 100%;
  }

  #main-container {
    max-width: 700px;
    margin: auto;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    & > .container {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 14px;
    }
  }
}

@include media-breakpoint-up(xs) {
  #main-container {
    max-width: 100%;
  }
}
@include media-breakpoint-up(sm) {
  #main-container {
    max-width: 100%;
  }
}
